
body {
    margin: 0;

}
#ticTac-container {
   background-color: black;
   padding: 20px;
   margin: 0 auto;
}
.post-feed {
    background: linear-gradient(white, #8d8ab3);
    border: 2px solid black;
    width: 500px;
    height: 800px;
    margin: 20px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 5px;
    border-radius: 5px;
}

.feed-btns-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    
}
.feed-btn {
    border-radius: 50%;
    margin: 0 8px;
    border: 2px solid white;
    background-color: transparent;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    width: 40px;
    color: white
}
.feed-item {
    margin: 20px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.post-container {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
}
.post-content {
    box-sizing: border-box;
    width: 400px;
    height: 500px;
    margin: 5px auto;
    padding: 10px
}
.profile-pic {
    width: 40px; 
    border-radius: 50%;
    margin: 5px 5px 5px 5px;
    
    
}
.post-video {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 5px auto;
    border-radius: 5px;
    padding-top: 10px;
}
.post-hidden {
    display: none;
   
}
.post-visible {
  display: block;
  background-color: black;
  border-radius: 5px;
  margin: 0 auto;
 
}
#btn-prev:disabled {
    border: 2px solid gray;
    color: gray;
    cursor: not-allowed
}
.post-footer {
    display: flex;
    color: white;
    width: 95%;
    margin: 30px auto 5px auto;
    line-height: 18px;
    
}
.post-footer p {
    margin: 5px 0 3px 5px;
    padding: 0px
}
#caption {
    font-size: 14px;
}
.post-icons {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    margin: 10px 0;
   
}
.icon-container {
    display: flex;
    gap: 5px;
    cursor: pointer;
}
.liked-heart {
    color: red;
}

.shared-icon {
    color: green;

}
.hidden-comments {
   display: none;
}
.commentSection{
    width: 400px;
    height: 210px;
    box-sizing: border-box;
    padding: 0px;
    position: absolute;
    top: 600px;
    right:0;
    left:0; 
    bottom: 0;
    margin: auto;
    border-radius: 5px;
    background-color: #F3F3F7;
}
.hidden {
    display: none;
   
}
.reply-container {
    padding: 5px;
    
}
.reply-container img{
    width: 40px;
    border-radius: 50%;
    margin: 5px 5px;
    padding: 5px 6px;
}
.reply-container p {
    margin: 5px;
    line-height: 0px;
}
.comment-visible {
  display: block;
}
#message-info {
    display: flex;
    align-items: center;
    color: gray;
    margin: 0;
    
}
#message-container {
    display: flex;
    justify-content: space-between;
    width: 285px;
    margin: 0 auto;

}
#no-message {
    text-align: center;
    color: gray;
}

#reply-message {
    color: white;
    font-size: 10px;
    text-align: right;
}
@media screen and (max-width:500px) {

    .post-feed {
        width: 400px;
    }
}
@media screen and (max-width:376px) {
    .post-feed {
        width: 370px;
    }
    .post-content {
        width: 370px;
        padding: 0px;
    }
    #ticTac-container {
        padding: 0;
        margin: 0 auto;
    }
    
    .post-content {
        width: 355px;
    
    }
    .commentSection{
        width: 355px;
    
    }
       
}